{% extends 'base.html.twig' %}

{% block title %}Child index{% endblock %}

{% block body %}
    <h1>Child index</h1>


    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for child in children %}
            <tr>
                {{ dump(child) }}
                <td>{{ child.id }}</td>
                <td>{{ child.name }}</td>
                <td>{{ child.description }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_child_new') }}">Create new</a>
{% endblock %}
